*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#box{
    height: 200px;
    width: 200px;
    background-color: rgb(20,90,50);
    border: 2px solid white;
    border-radius: 10px;
    transition: all 0.2s linear;
}
button{
    padding: 10px 20px;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover{
        background-color: cadetblue;
    }
    &:active{
        scale: 0.95;
    }
}