*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-style: 100px;
    color: aquamarine;
}
button{
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    background-color: red;
    border-radius: 5px;
    border: none;
    outline: none;
}