*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box{
    height: 200px;
    width: 200px;
    transition: all 0.5s linear;
}

.red{
    background-color: rgb(207, 72, 72);
}

.blue{
    background-color: rgb(89, 189, 228);
}

.green{
    background-color: rgb(66, 237, 228);
}

body:has(.box:hover) .box{
    transform: scale(0.8);
    opacity: 0.8;
}


body .box:hover{
    opacity: 1 !important;
    transform: scale(1.2) !important;
}