:root{
    --desktop-bg:#1e1e1e;
    --windows-bg:#ffffff;
    --icons-bg:#2e2e2e;
    --icons-label:#ffffff;
    --windows-header-bg:#0078d7;
    --windows-body-color:#000;
    --window-body-color:
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;          
    width: 100%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.desktop{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background:url(./Images/18741.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

}

.test{
    background-color: rgba(62, 58, 58, 0.871);
    color: rgb(20, 152, 193);
    width: fit-content;
}

.desktop .body{
    display: flex;
    padding: 12px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    height: 100vh;
}

.body .icons{
    width: 80px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    color: white;
    transition: all 0.1s ease-in-out;
    border-radius:12px;
    font-weight: 500;
}

.footer{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #454343;
    gap: 1rem;
    /* background-color: wheat; */
    padding: 10px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

.footer .buttons{
    display: flex;
    gap: 1rem;
}

.button{
    transition: all 0.3s linear;
    cursor: pointer;
    &:hover{
        transform: scale(1.3);
    }
}


.icons__image img{
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.icons:nth-child(1){
    position: absolute;
    right: 20px;
    top: 20px;
}
.icons:nth-child(2){
    position: absolute;
    right: 20px;
    top: 120px;
}
.icons:nth-child(3){
    position: absolute;
    right: 20px;
    top: 220px;
}
.icons:nth-child(4){
    position: absolute;
    right: 20px;
    top: 320px;
}
.icons:nth-child(5){
    position: absolute;
    right:20px;
    top: 420px;
}
.icons:nth-child(6){
    position: absolute;
    right: 20px;
    top: 530px;
}
.icons:nth-child(7){
    position: absolute;
    right: 20px;
    top: 650px;
}




.clicked{
    background-color: gray;
    border-radius: 2px solid rgb(43, 34, 34);
}



.ElementCreate{
    height: 87.6%;
    width: 100%;
    background-color: #ac8888f8;
    position: absolute;
    padding: 10px;
    display: flex;
    gap: 20px;
}