*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    color: black;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.card h3{
    font-size:35px ;
    /* white-space: nowrap; */
}

.card{
    width: 280px;
    background-color: white;
    text-align: center;
    padding: 30px;
    border-radius: 12px;

}

.card img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;

}

.card h4{
    font-size: 18px;
    color: crimson;
    margin-bottom: 10px;
}