* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: #0F172A;
  padding: 1rem 1.3rem;
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-areas: "Aside Dashborad";
}
main aside.Aside {
  padding: 1.2rem 1.2rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  grid-template-areas: Aside;
  background-color: #0B1220;
  border-right: 1px solid #1F2937;
  display: grid;
  justify-content: center;
  align-items: self-start;
}
main aside.Aside h1 {
  color: #38BDF8;
  font-size: 2.5rem;
}
main aside.Aside #Home-list {
  list-style-type: none;
  color: #9CA3AF;
  line-height: 1.9rem;
}
main aside.Aside #Home-list #Nav-list-Item {
  color: #9CA3AF;
  margin-top: 0.36rem;
  padding: 0.12rem 0.32rem;
  transition: all 0.2s linear;
  border: none;
  font-size: 1.2rem;
  outline: none;
  border-radius: 0.45rem;
  cursor: pointer;
}
main aside.Aside #Home-list #Nav-list-Item:hover {
  background-color: #111827;
  color: #E5E7EB;
}
main aside.Aside #Home-list #Nav-list-Item:active {
  background-color: #111827;
  color: #38BDF8;
}
main aside.Aside .Home-bottom {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
  justify-content: flex-end;
}
main aside.Aside .Home-bottom #home-buttom-link {
  color: #6B7280;
  font-size: 1.4rem;
}
main section.Dashboard {
  grid-template-areas: Dashboard;
  background-color: gray;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding: 1.2rem 1.2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2rem 4rem 1fr;
  grid-template-areas: "Header Header" "Card Card" "BottomSection BottomSection ";
}
main section.Dashboard .header {
  display: flex;
  grid-template-areas: Header;
  background-color: #0F172A;
  padding: 1.2rem 3rem;
  border-radius: 1rem;
  border-bottom: 2px solid #1F2937;
  justify-content: space-between;
}
main section.Dashboard .header h1 {
  font-size: 2.3rem;
  color: #E5E7EB;
}
main section.Dashboard .header .Header-Left {
  display: flex;
  gap: 0.64rem;
}
main section.Dashboard .header .Header-Left #input {
  padding: 0 0.65rem;
  color: #CBD5E1;
  opacity: 0.8;
  background-color: #111827;
  border: 1px solid #1F2937;
  outline: none;
  font-size: 0.98rem;
  border: 3px solid gray;
  border-radius: 1.2rem;
  transition: all 0.5s linear;
}
main section.Dashboard .header .Header-Left #input:hover {
  border: 3px solid blue;
}
main section.Dashboard .header .Header-Left .profile {
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 50%;
  background-color: blue;
  transition: all 0.5s linear;
  border: 4px solid blue;
  cursor: pointer;
}
main section.Dashboard .header .Header-Left .profile:hover {
  background-color: transparent;
}
main section.Dashboard .Cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "Card1 Card2 Card3 Card4 Card4";
  gap: 2.6rem;
  padding: 1.9rem 2rem;
}
main section.Dashboard .Cards .Card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: self-start;
  background-color: #111827;
  border: 2px solid #1F2937;
  border-radius: 1.3rem;
  color: #E5E7EB;
  padding: 1.9rem 2rem;
}
main section.Dashboard .Cards .Card h1 {
  font-size: 1.6rem;
  color: #9CA3AF;
  opacity: 0.7;
}
main section.Dashboard .Cards .Card p {
  color: #E5E7EB;
  font-size: 1.9rem;
}
main section.Dashboard .Cards #Card1 {
  grid-template-areas: Card1;
}
main section.Dashboard .Cards #Card2 {
  grid-template-areas: Card2;
}
main section.Dashboard .Cards #Card3 {
  grid-template-areas: Card3;
}
main section.Dashboard .Cards #Card4 {
  grid-column: span 2;
}
main section.Dashboard .BottomSection {
  display: flex;
  width: 100%;
  gap: 2.3rem;
  border-radius: 2rem;
  padding: 1.5rem 5rem;
}
main section.Dashboard .BottomSection .Tasks, main section.Dashboard .BottomSection .Focus-Session {
  width: 50%;
}
main section.Dashboard .BottomSection .Tasks {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
main section.Dashboard .BottomSection .Tasks .Tasks-card {
  background-color: #111827;
  display: flex;
  border: 1px solid #1F2937;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  gap: 1rem;
  border-radius: 1rem;
}
main section.Dashboard .BottomSection .Tasks .Tasks-card #input-checkbox {
  height: 1.6rem;
  width: 1.6rem;
  border: 2px solid #374151;
  border-radius: 50%;
}
main section.Dashboard .BottomSection .Tasks .Tasks-card .content h2 {
  color: #E5E7EB;
}
main section.Dashboard .BottomSection .Tasks .Tasks-card .content p {
  color: #9CA3AF;
}
main section.Dashboard .BottomSection .Focus-Session {
  width: 100%;
  height: 14rem;
  background-color: #111827;
  border-radius: 3rem;
  border: 1px solid #1F2937;
  display: flex;
  justify-content: center;
}
main section.Dashboard .BottomSection .Focus-Session .card {
  margin-top: 2.3rem;
}
main section.Dashboard .BottomSection .Focus-Session .card h1 {
  font-size: 4.2rem;
  color: #E5E7EB;
}
main section.Dashboard .BottomSection .Focus-Session .card button {
  padding: 0.9rem 2.9rem;
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  color: #020617;
  opacity: 0.6;
  font-weight: 600;
  font-size: 1.2rem;
  background: linear-gradient(90deg, #38BDF8, #A78BFA);
  transition: all 0.3s linear;
  cursor: pointer;
}
main section.Dashboard .BottomSection .Focus-Session .card button:hover {
  box-shadow: 2px 2px 10px rgba(56, 189, 248, 0.4);
}