*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.piano{
    display: flex;
    background-color: gray;
    padding: 1rem 1.2rem;
    border:none;
    outline: none;
    border-radius: 10px;
    
}
.octave{
    position: relative;
    display: flex;
}

.white{
    height: 260px;
    width: 60px;
    background:#f4f4f4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: red;
    border: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    /* transition: all 0.3s ease-in-out; */
    box-shadow: 2px 0 1px black;
    transform-origin: bottom center;
    transform: scaleY(1);
    transition: transform 0.1 linear;
    &:active{
        transform: scaleX(0.78);
    }
}

.black{
    height: 160px;
    width: 40px;
    z-index: 200;
    position: absolute;
    background:#2e3440;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    top: 0;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: self-end;
    padding-bottom: 14px;
    cursor: pointer;
    transform-origin: bottom center;
    transform: scaleY(1);
    transition: transform 0.1 linear;
    &:active{
        transform: scaleX(0.78);
    }

}
.c-sharp{
    left: 40px;
}
.d-sharp{
    left: 100px;
}
.f-sharp{
    left: 220px;
}
.g-sharp{
    left: 280px;
}
.a-sharp{
    left: 340px;
}

