*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    anchor-name: --some-anchor;

} 

.box{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.box:hover{
    anchor-name: --some-anchor;
}

.red{
    background-color: red;
}
.blue{
    background-color: blue;
}

.green{

    background-color: lightgreen;
}

.anchor{
    background-color: whitesmoke;
    border-radius: 10px;
    position: absolute;
    top: anchor(top);
    left: anchor(left);
    bottom: anchor(bottom);
    right: anchor(right);
    pointer-events: none;
    position-anchor: --some-anchor;
    transition: all 0.4s linear;
    mix-blend-mode: difference;
}