* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: clamp(14px, 1vw, 18px);
}

section {
  max-width: 1900px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
}
main section.view1 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main section.view1 .top {
  width: 100%;
}
main section.view1 .top img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  width: 100%;
  border-radius: 10px;
}
main section.view1 .bottom {
  background-color: #292929;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 10px;
}
main section.view1 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.view1 .bottom .text h1 {
  font-weight: 200;
  font-size: 2.5rem;
  text-transform: uppercase;
}
main section.view1 .bottom .text p {
  font-weight: 300;
  opacity: 0.6;
  line-height: 1.9rem;
  font-size: 1.5rem;
}
main section.view1 .bottom .text button {
  width: -moz-fit-content;
  width: fit-content;
  color: black;
  outline: none;
  border-radius: 0.7rem;
  border: none;
  font-weight: 600;
  background-color: white;
  padding: 0.7rem 1rem;
}
main section.view2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
main section.view2 .top, main section.view2 .bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
main section.view2 .element {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main section.view2 .element h2 {
  font-size: 3rem;
  font-weight: 300;
}
main section.view2 .element small {
  opacity: 0.7;
}

@media (min-width: 900px) {
  main section.view1 {
    padding: 1rem 4rem;
    flex-direction: row;
  }
  main section.view1 .top, main section.view1 .bottom {
    width: 50%;
  }
  main section.view1 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view1 .bottom .text {
    gap: 1.5rem;
  }
  main section.view1 .bottom .text h1 {
    font-size: 3.5rem;
  }
  main section.view1 .bottom .text p {
    width: 60%;
    font-size: 1.4rem;
  }
  main section.view2 {
    flex-direction: row;
    padding: 1rem 4rem;
  }
}