*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

#bulb{
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
    background-color: wheat;
    border: 4px solid white;
    transition: all 0.2s linear;
}

button{
    cursor: pointer;
    padding: 0.7rem 2rem;
    font-size: 2rem;
    margin: 4rem;
    color: wheat;
    background-color: gray;
    border: none;
    border-radius: 3rem;
    outline: none;
}

