:root{
    --x:400px;
    --y:400px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:url(../Day-16//Task//Images/home.jpg);
    background-size: cover;
    object-fit: cover;
    object-position: center;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

.box{
    height: 100%;
    width: 100%;
    border: 1px solid white;
    background: radial-gradient(150px at var(--x) var(--y), rgba(255, 0, 0, 0) 0% ,rgba(0, 0, 0, 0.952) 90%);
}


