*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

h1{
    font-size: 200px;
    color: transparent;
    -webkit-text-stroke: 3px wheat;
}