*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 90px 1fr 1fr;
    grid-template-areas:"header header header"
                        "section section section"
                        "Div1 Div2 Div3" 

    ;
    padding: 10px;
    gap: 10px;
}

header{
    background-color: brown;
    grid-area: header;
}
section{
    background-color: green;
    grid-area: section;
}

#Div1{
    background-color:saddlebrown;
}

#Div2{

    display: grid;
    grid-template-rows:0.5fr 0.5fr;
    grid-column: 1fr;
    gap: 10px;
}

#Div2>#Div3,#Div4{
    background-color: peru;
}
#Div3{
    background-color: darkslateblue;
}