*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#parent{
    height: 500px;
    width: 100%;
    background-color: black;
    display: flex;
    gap: 60px;
    padding: 50px;
    overflow: auto;
    flex-wrap: nowrap;
}

#parent::-webkit-scrollbar{
    display: none;
}
#child{
    height: 100%;
    width: 300px;
    border-radius: 25px;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;

}

#child>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
}

#child .bottom{
  position: absolute;
  left: 0;
  bottom: -40%;
  height: 40%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 30px;
  justify-content: space-between;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0)
  );

  transition: bottom 0.35s ease;
}

#child .bottom h3{
    padding: 10px;
    border-radius: 50%;
    color: pink;
    background-color: red;
}

#child:hover .bottom {
  bottom: 0;
}

.bottom h1 {
  color: white;
  font-size: 22px;
}