:root {
  /**&Bg-colors*/
  --bg-primary-color: #0c0c0c;

  /**&Text Colors ---*/
  --text-primary-colors: #f0f0f0f0;

  /**&Spacing Variables*/
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 48px;

  /* /*& Border Colors */
  --border-primary-color: #333333;

  /**&Border Radius*/
  --border-space-xs: 4px;
  --border-space-sm: 8px;
  --border-space-md: 12px;
  --border-space-lg: 16px;
  --border-space-xl: 20px;
  --border-space-2xl: 24px;

  --bg-fill-color:#dbdbc6;

  --bg-food-color:red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-colors);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main,
section {
  width: 100%;
  height: 100%;
  gap: var(--space-lg);
}

section {
  padding: var(--space-2xl);
  display: flex;
  height: 100%;
  flex-direction: column;
}

.info {
  padding: var(--space-sm) var(--space-md);
  border: 1px solid var(--border-primary-color);
  border-radius: var(--border-space-sm);
}

section .infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.board {
  flex-grow: 1;
  border: 1px solid var(--border-primary-color);
  display: grid;
  grid-template-columns:repeat(auto-fill,minmax(50px,1fr)) ;
  grid-template-rows: repeat(auto-fill,minmax(50px,1fr));
}

.block{
  border: 1px solid var(--border-primary-color);
  border-radius: 2px;
}

.fill{
  background-color:var(--bg-fill-color);
}

.food{
  background-color: var(--bg-food-color);
}


.btn{
  border: none;
  border-radius: var();
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--space-sm);
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover{
    transform: scale(1.1);
  }
}


.modal{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #2b26267b;
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .start-game{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
}
