*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: lightgreen;
    padding: 20px;
}
.card{
    height: 300px;
    width: 250px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 20px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
.card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;

}
.card h2{
    font-weight: 600;
    font-size: 26px;
}
.card button{
    padding: 10px 20px;
    background-color:rgb(52,204,255);
    border: 2px solid rgb(36, 182,255);
    transition: all 0.2s ease-in-out;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 50px;
}

.card button:hover{
    background-color: transparent;
    color: rgb(36, 182,255);
}   

.card p{
    font-size: 17px;
    font-weight: 700;
    padding: 10px 30px;
    color: gray;
}
