:root {
  --pri: #f8f4e1;
  --sec: #381c0a;
  --tri1: #feb417;
  --tri2: #74512d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--pri);
}

.main {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
}

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: var(--tri2);
}

section.allElems {
  height: 100%;
  width: 100%;
  padding: 40px;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
  /* background-color: var(--tri2); */
}

.elem {
  background-color: #feb417;
  height: 250px;
  width: 250px;
  font-size: 50px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(17, 251, 239, 0.1);
  &:active {
    transform: scale(0.97);
  }
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.elem h2 {
  position: absolute;
  bottom: 4%;
  right: 4%;
  font-size: 35px;
}

.fullElem{
  height: 100%;
  width: 100%;
  background-color: #381c0a;
  padding: 40px;
  font-size: 30px;
  display: none;
  position: absolute;
}
.back{
  position: absolute;
  right: 5%;
  background-color: rgb(217, 36, 36);
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  margin-top: 5px;
  cursor: pointer;
  font-weight: 800;
  border: none;
  &:active{
    scale: 0.97;
  }
}