* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

@mixin homeButton($bg-color: red, $border: black) {
  padding: 0.85rem 0.9rem;
  border-radius: 2rem;
  background-color: $bg-color;
  border: 2px solid $border;
  outline: none;
}
main {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  header {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    position: fixed;
    background: white;

    left: 0;
    top: 0;
    z-index: 50;
    justify-content: space-between;
    h1 {
      color: gray;
      font-size: 2.4rem;
    }
    #Navbar {
      display: none;
    }
    button {
      padding: 0.75rem;
      border: none;
      outline: none;
      border-radius: 2rem;
      width: fit-content;
      font-size: 1rem;
      font-weight: 600;
      opacity: 0.9;
      background-color: orangered;
    }
  }
  section.home {
    height: 100vh;
    background-color: azure;
    padding: 1rem 1.2rem;
    width: 100%;
    display: flex;
    max-width: 2040px;
    flex-direction: column-reverse;
    gap: 3rem;
    border-bottom: 2px solid orange;
    .home-left {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      h2 {
        font-size: 2.4rem;
        color: sienna;
      }
      p {
        font-size: 1.4rem;
        font-weight: 500;
        opacity: 0.6;
        line-height: 1.4;
      }
      .homebuttons {
        display: flex;
        width: 100%;
        gap: 1.8rem;
      }
      .homebuttons #home-button1 {
        @include homeButton(orangered, transparent);
      }
      .homebuttons #home-button2 {
        @include homeButton(transparent, gray);
      }
    }
    .home-right {
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  section.about {
    margin-top: 2rem;
    padding: 1rem 1.2rem;
    width: 100vw;
    display: flex;
    max-width: 1480px;
    flex-direction: column;
    gap: 3rem;
    border-bottom: 2px solid orange;
    .about-left img {
      width: 100%;
    }
    .about-right {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.3rem;
        #about-right-h1 {
          font-size: 1.9rem;
          font-weight: 600;
          opacity: 0.6;
          color: red;
          text-transform: capitalize;
        }
        #about-right-p {
          font-size: 0.98rem;
          color: gray;
          font-weight: 800;
        }
        #aboutlast {
          font-size: 1.2rem;
          color: darkred;
          font-weight: 600;
          opacity: 0.7;
        }
      }
  }
  section.NewsLetter{
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
        text-align: center;
        display: flex;
        flex-direction: column  ;
        gap: 1.3rem;
        justify-content: center ;
        h1{
            color: black;
            font-weight: 800;
            font-size: 2.0rem;
            opacity: 0.5;
        }
        p{
            color: black;
            font-weight: 800;
            font-size: 1.1rem;
            padding: 0 0.65rem;
            opacity: 0.5;
        }
        .buttons{
            display: flex;
            justify-content: center;
            align-items: center;
            .button{
                #input{
                    padding: 0.45rem 2rem;
                    border: 1px solid red;
                    border-radius: 50px;
                    ::placeholder{
                        color: orangered;
                    }
                }
                button{
                    padding:0.5rem 0.5rem;
                    border: none;
                    outline: none;
                    border-radius: 50px;
                    color: black;
                    opacity: 0.7;
                    font-weight: 500;
                    background-color: white;
                    transition: all 0.5s linear;
                    &:hover{
                        background-color: orangered;
                        color: white;
                        border: 2px solid white;
                    }
                }
            }
        }
    }
  }
}

@media (min-width: 900px) {
  main {
    header #Navbar {
      display: inline-flex;
      gap: 2rem;
      justify-content: center;
      list-style-type: none;
      align-items: center;
      #nav_links {
        color: gray;
        opacity: 0.9;
        font-size: 1.3rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: orangered;
        }
      }
    }
    section.home {
      padding: 9rem 9rem;
      flex-direction: row;
      .home-left,
      .home-right {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .home-left {
        h2 {
          font-size: 3rem;
          opacity: 0.8;
        }
        .homebuttons{
            gap: 2rem;
        }
      }
    }
    section.about{
      flex-direction: row;
      width: 100%; 
      height: fit-content;
      padding: 5rem 6rem;
        .about-right{
            justify-content: space-around;
            padding: 4rem 9rem;
            #about-right-h1{
                font-size: 2.5rem;
                font-weight: 600;
                opacity: 0.85;
                color: sienna;
            }
            #about-right-p{
                font-size: 1.2rem;
                opacity: 0.7;
            }
            #aboutlast{
                font-size: 1.3rem;
                color: brown;
                opacity: 0.6;
            }
        }
    }
    section.NewsLetter{
        width: 100%;
    }
  }
}

