*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card{
    width: 500px;
    background-color: cornflowerblue;
    border-radius: 13px;
    padding:50px 30px;
}

.outer{
    height: 20px;
    border-radius: 50px;
    width: 100%;
    background-color: rgb(197,197,197);
}
.inner{
    height: 100%;
    width: 0%;
    background-color: crimson;
    border-radius: 50px;
    transition: all 0.3s linear;
}

.bottom{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom h1{
    font-size: 60px;
}
.bottom button{
    padding: 12px 25px;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    border:0 ;
    /* transition: all 0.8s ease-in-out; */
    &:active{
        scale: 0.95;
    }
}

