*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black ;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: clamp(14px,1vw,18px);
}

section{
    max-width: 1900px;
}

@mixin flex-column($gap:0){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main{
    width: 100%;
    @include flex-column(0rem);
    align-items: center;
    section{
        width: 100%;
        padding: 1rem;
        @include flex-column(2rem);
        .top{
            width: 100%;
            img{
                height: 100%;
                object-fit: cover;
                background-size: cover;
                width: 100%;
                border-radius: 10px;
            }
        }
        .bottom{
            background-color: #292929;
            padding: 1.5rem;
            @include flex-column(1.5rem);
            border-radius: 10px;
            .text{
                @include flex-column(0.7rem);
                h1{
                    font-weight: 200;
                    font-size: 2.5rem;
                    text-transform: uppercase;

                }
                p{
                    font-weight: 300;
                    opacity: 0.6;
                    line-height: 1.9rem;
                    font-size: 1.5rem;
                }
                button{
                    width: fit-content;
                    color: black;
                    outline: none;
                    border-radius: 0.7rem;
                    border: none;
                    font-weight: 600;
                    background-color: white;
                    padding: 0.7rem 1rem;
                }
            }
        }
    }
}

@media (min-width:900px){
    main{
        // background-color: red;
        section{
            padding: 1rem 4rem;
            flex-direction: row;
            .top .bottom{
                width: 50%;
            }
            .bottom{
                justify-content: space-between;
                padding: 3rem;
                .text{
                    gap: 1.5rem;
                    h1{
                        font-size: 3.5rem;
                    }
                    p{
                        width: 60%;
                        font-size: 1.4rem;
                    }
                }

            }
        }
    }
}