*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;

}

.main{
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    height: 300px;
    width: 350px;
    background-color: white;
    position: relative;
    border-radius: 40px;
    overflow: hidden;
}


.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.bottom{
    height:40%;
    width: 100%;
    position: absolute;
    background:linear-gradient(transparent,black);
    display: flex;
    justify-content: space-around;
    padding: 40px;
    bottom: -40%;
    transition: all ease 0.5s;
    
}

.bottom h4{
    color: white;
    font-size: 23px;
}
.bottom .logo{
    padding: 12px;
    background-color: white;
    border-radius: 50%;
}
.card:hover .bottom{
    bottom: 0%;
}


.card >.bottom .first{
    background-color: deeppink;
}
.card >.bottom .second{
    background-color: orangered;
}
.card >.bottom .third{
    background-color: skyblue;
}
.card >.bottom .fourth{
    background-color: deepskyblue;
}