*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

button{
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: crimson;
    border-radius: 12px;
    transition: all 0.2s linear;
    cursor: pointer;
    &:active{
        scale: 0.7;
    }
}