@font-face {
    font-family: Horror;
    src: url(./Another\ Danger\ -\ Demo.otf);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100vh;
    width: 100%;
}


h1{
    text-transform: uppercase;
    font-family: Horror;
}